export GAME_ID=put-game-id-here
export NUM_THREADS=1
export REQ_MAX_AGE=5
export NATS_HOST=localhost
export NATS_PORT=4222
export ENABLE_EXPRESS=yes
export EXPRESS_PORT=8080
export RNG_MAX_RECORDS=10000
export RNG_MAX_HOLD_TIME=10000
export RNG_MONITOR_CHANNEL='rngmon'
